# RAG
langchain
langchain-community
langchain-chroma

# LLM
langchain-openai
langchain-ollama

# Config
python-dotenv
pypdf
markitdown

# API
fastapi
uvicorn[standard]
pydantic

# Script Docling
docling>=2.0.0
pandas>=2.0.0

#Revisar

# langgraph -- Apenas se tiver Grafos
# langchain-experimental -- Deixar para depois