# RAG
langchain
langchain-community
langchain-chroma

# LLM
langchain-openai
langchain-ollama

# Config
python-dotenv
pypdf
markitdown

# API
fastapi
uvicorn[standard]
pydantic

#Revisar

# langgraph -- Apenas se tiver Grafos
# langchain-experimental -- Deixar para depois